@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* header styles  */

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  background-image: url("./images/header-bg.jpg");
  text-align: center;
  padding: 58px 0;
}

header .container h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 144px;
  line-height: 134px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
}

header .container button {
  margin: 17px;
}
header .container button.header-btn {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 59px;
  padding: 19px 48px;
  border: none;
  color: white;
  font-weight: 500;
  margin-top: 50px;
}

.btn {
  box-shadow: 0px 10px 50px rgba(16, 51, 30, 0.5);
  border-radius: 35px;
  padding: 22px 53px;
  border: none;
  color: #48924f;
  font-weight: 700;
  font-size: 18px;
}

/* services styles */

section .container > h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  color: #828282;
  margin: 50px;
}

.services-boxs {
  display: flex;
  gap: 22px;
  margin-bottom: 50px;
}

.service-box .btn {
  box-shadow: 0px 16px 30px rgba(50, 175, 100, 0.15);
}

.service-box {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
  border-radius: 30px;
  overflow: hidden;
  color: #0d4d14;
}
.service-box p {
  font-weight: 400;
  line-height: 20px;
}

.service-box img {
  width: 100%;
}

.service-box div {
  padding: 30px;
}

.service-box h4 {
  margin-bottom: 10px;
}

/* about us styles */
.about-us {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./images/header-bg.jpg");
  padding-top: 154px;
  text-align: center;
}
.about-us-boxes {
  display: flex;
  gap: 60px;
}
.about-us-boxes p {
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.about-us .btn {
  margin: 50px;
}

/* testimonials style  */

.testimonals-boxes {
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.testimonial-box {
  flex-basis: calc(50% - 45px);
  border: 1px solid #6cb981;
  border-radius: 40px;
  padding: 30px;
  display: flex;
  gap: 14px;
}

.testimonial-box img {
  border-radius: 50%;
}

.testimonial-box h4 {
  margin-bottom: 14px;
  color: #6cb981;
}
.testimonial-box p {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #0d4c14;
}

.testimonial-box .rank {
  display: flex;
  gap: 7.56px;
}

/* contact us styles */
.contact-us {
  padding: 50px 0;
  background-color: #fcfcfc;
}

.contact-us .contact {
  width: 788px;
  margin: 0 auto;
  display: flex;
  gap: 100px;
}
.contact form {
  text-align: center;
}
.contact-us .contact > * {
  flex-basis: calc(50% - 100px);
}

.contact-us .contact input {
  border: none;
  border-radius: 61px;
  background-color: #9fdea9;
  padding: 15px 30px;
  outline: none;
  width: 100%;
  margin-bottom: 14px;
}

.contact .btn-send {
  border: 3px solid #4db96b;
  padding: 15px 30px;
  border-radius: 61px;
  width: 168px;
  background-color: white;
}

.contact ul {
  list-style: none;
}
.contact ul li {
  margin-bottom: 33px;
  display: flex;
}

.contact ul li a {
  color: black;
  text-decoration: none;
  font-style: normal;
}

.contact ul li span {
  color: #4db96b;
  margin-right: 20px;
}

footer {
  height: 10rem;
  background-color: #324b29;
}
